<!DOCTYPE html>
<html layout:decorate="layouts/defaultLayout" xmlns:th="https://www.thymeleaf.org">
	
	<body>
	
		<div layout:fragment="content">
		<div class="container-fluid">
			<table class="table table-hover table-responsive mt-3" style="background-color: transparent;">
				<thead>
			    <tr>
			      <th scope="col">Nazwa</th>
			      <th scope="col">Opis</th>
			      <th scope="col">Cena</th>
			      <th scope="col">Lokacja</th>
				  <th scope="col">Kategoria</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="attraction : ${attractions}">
			      <td th:text = "${attraction.attractionName}"></td>
			      <td th:text = "${attraction.attractionDescription}"></td>
			      <td th:text = "${attraction.attractionEntryFee} + ' zł'"></td>
			      <td th:text = "${attraction.attractionLocation}"></td>
				  <td th:text = "${attraction.attractionType}"></td>
			    </tr>
			  </tbody>
			</table>
		</div>
		</div>
	</body>
</html>